.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
  &-label {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    cursor: pointer;
    input[type="checkbox"] {
      display: none;
    }
  }
  span {
    height: 18px;
    width: 18px;
    display: inline-block;
    border-radius: 50%;
  }
}
